<%- include("templates/header_LL") %>

<div class="container">
    <br>
    <h1>Announcements</h1>
    <div class="p-5">
        <table id="announcement_table" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Announcement</th>
                    
                </tr>
            </thead>
            <tbody>
                <% properties.forEach(property => { %>
                    <% if (property.announcements && property.announcements.length > 0) { 
                        property.announcements.forEach(announcement => { %>
                        <tr>
                            <td><%= `${property.unit} ${property.street}, ${property.city}` %></td>
                            <td class="d-flex justify-content-between align-items-center">
                                <span><%= announcement.announcement %></span>
                                <form method="POST" action="/landlord-announcements" style="display: inline;">
                                    <input type="hidden" name="announcement_id" value="<%= announcement.announcement_id %>">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                            
                        </tr>
                        <% }); 
                    } else { %>
                        <tr>
                            <td><%= `${property.unit} ${property.street}, ${property.city}` %></td>
                            <td>No announcements for this property.</td>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>

        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-cy="announcement-button" data-target="#exampleModal">
                New Announcement
            </button>
        </div>
    </div>
    <br>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Announcement</h5>
            </div>
            <div class="modal-body">
                <form id="announcementForm" method="POST" action="/landlord-announcements">
                    <div class="form-group">
                        <label for="propertyDropdown">Select Property:</label>
                        <select id="propertyDropdown" name="property_id" class="form-control">
                            <% properties.forEach(property => { %>
                            <option value="<%= property.property_id %>">
                                <%= `${property.unit} ${property.street}, ${property.city}` %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="announcementContent">Announcement:</label>
                        <textarea class="form-control" id="announcementContent" name="announcement" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" data-cy="announcement-create">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include("templates/footer_announcement") %>