<%- include("templates/header_LL") %>
<div class="container">
    <h1>Properties</h1>
    <div class="spacer">
        List of properties for rent goes here
    </div>
    <h1>Add Property</h1>
    <a href="/add_property">
        <button>Add Property</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>Unit</th>
            <th>Street</th>
            <th>City</th>
            <th>Province/State</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <% for(let property of properties) { %>
            <tr>
                <td><%= property.unit%></td>
                <td><%= property.street %></td>
                <td><%= property.city %></td>
                <td><%= property.province_state %></td>
                <td><%= property.country %></td>
                <td><button>update</button></td>
                <td>
                    <form action="/landlord-properties/<%=property.property_id%>"
                          method="POST"
                          onsubmit="return confirm(
                              'Do you want to delete this property'
                    )">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">
                            delete
                        </button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>


<%- include("templates/footer") %>