<%- include("templates/header_LL") %>
<div class="container">
    <h1>Properties</h1>
    <div class="spacer">
        List of properties for rent goes here
    </div>

    <table id="property_table" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Street</th>
            <th>City</th>
            <th>Province/State</th>
            <th>Country</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% properties.forEach(property => { %>
            <tr>
                <td><%= property.unit %></td>
                <td><%= property.street %></td>
                <td><%= property.city %></td>
                <td><%= property.province_state %></td>
                <td><%= property.country %></td>
                <td>
                    <a href="/landlord-properties/update/<%=property.property_id%>">
                        <button>
                            Update
                        </button>
                    </a>
                <td>
                    <form action="/landlord-properties/<%=property.property_id%>"
                          method="POST"
                          onsubmit="return confirm(
                              'Do you want to delete this property'
                    )">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">
                            delete
                        </button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    
    <a href="/add_property" id="add-property">
        <button>Add Property</button>
    </a>
</div>


<%- include("templates/footer_property") %>