<%- include("templates/header_LL") %>
<div class="container">
    <h1>Properties</h1>
    <div class="spacer">
        List of properties for rent goes here
    </div>

    <table id="property_table" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Street</th>
            <th>City</th>
            <th>Province/State</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <% properties.forEach(property => { %>
            <tr>
                <td><%= property.unit %></td>
                <td><%= property.street %></td>
                <td><%= property.city %></td>
                <td><%= property.province_state %></td>
                <td><%= property.country %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    
    <a href="/add_property" id="add-property">
        <button>Add Property</button>
    </a>
</div>


<%- include("templates/footer_property") %>