<%- include("templates/header_LL") %>
<div class="container">
    <h1>Tenant List</h1>

    <% if (typeof(resData) !== 'undefined' && typeof(resData['properties']) !== 'undefined' && resData['properties'].length !== 0) { %>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#invite-modal">Invite New Tenant</button>
        <hr />
    <% } %>

    <% if (typeof(resData) !== 'undefined' && typeof(resData['tenants']) !== 'undefined') { %>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Property</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <% resData['tenants'].forEach(tenant => { %>
                        <tr>
                            <td><%= `${tenant.unit} ${tenant.street}, ${tenant.city}, ${tenant.country}` %></td>
                            <td><%= `${tenant.first_name} ${tenant.last_name}` %></td>  
                            <td><%= tenant.email %></td>
                            <td>
                                <form method="GET" action="<%= tenant.action %>">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
    
                </tbody>
            </table>
        </div>
    <% } %>

</div>

<div class="modal fade" id="invite-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Invite Tenant to a Property</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="invite-form" method="POST" action="/landlord-tenant-list">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email-input" name="email" placeholder="Email" required>
                        <label for="email-input">Email</label>

                        <% if (typeof(resData) !== 'undefined' && typeof(resData['emailInvalid']) !== 'undefined') { %>
                            <p class="text-danger"><%= resData['emailInvalid'] %></p>
                        <% } %>

                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="property">
                            <% for (let i = 0; typeof(resData['properties']) !== 'undefined' && i < resData['properties'].length; i++) { %>
                                <% if (i === 0) { %>
                                    <option value="<%= resData['properties'][i].property_id %>" selected><%= `${resData['properties'][i].unit} ${resData['properties'][i].street}, ${resData['properties'][i].city}, ${resData['properties'][i].country}` %></option>
                                <% } else { %>
                                    <option value="<%= resData['properties'][i].property_id %>"><%= `${resData['properties'][i].unit} ${resData['properties'][i].street}, ${resData['properties'][i].city}, ${resData['properties'][i].country}` %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("templates/footer") %>