<%- include("templates/header_LL", { title: 'Tenant List - RentEase' }) %>
<div class="container">
    <h1>Tenant List</h1>

    <a class="btn btn-success">Invite New Tenant</a>
    <hr />

    <% if (typeof(resData) !== 'undefined' && typeof(resData['tenants']) !== 'undefined') { %>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Property</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <% resData['tenants'].forEach(tenant => { %>
                        <tr>
                            <td><%= `${tenant.unit} ${tenant.street}, ${tenant.city}, ${tenant.country}` %></td>
                            <td><%= `${tenant.first_name} ${tenant.last_name}` %></td>  
                            <td><%= tenant.email %></td>
                            <td>
                                <form method="GET" action="<%= tenant.action %>">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
    
                </tbody>
            </table>
        </div>
    <% } %>

</div>

<%- include("templates/footer") %>