<%- include("templates/header_LL", { title: 'Tenant List - RentEase' }) %>
<div class="container">
    <h1>Invite New Tenant</h1>
    <div class="spacer">
        "Invite New Tenant" is a button to add a new tenant user.
    </div>
    <h1>List of Tenants</h1>
    <div class="spacer">
        List of tenants goes here
    </div>

    <a class="btn btn-success">Invite New Tenant</a>
    <hr />

    <% if (typeof(resData) !== 'undefined' && typeof(resData['tenants']) !== 'undefined') { %>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Address</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <% resData['tenants'].forEach(tenant => { %>
                        <tr>
                            <td><%= `${tenant.unit} ${tenant.street}, ${tenant.city}, ${tenant.country}` %></td>
                            <td><%= `${tenant.first_name} ${tenant.last_name}` %></td>  
                            <td><%= tenant.email %></td>              
                            <td>
                                <a class="btn btn-danger btn-sm">Remove</a>
                            </td>
                        </tr>
                    <% }) %>
    
                </tbody>
            </table>
        </div>
    <% } %>

</div>

<%- include("templates/footer") %>