<tr>
    <td><%= results.unit + " " + results.street + ", " + results.city %></td>    
    <td><%= username %></td>
    <td><%= results.feedback[0].title %></td>
    <td><%= results.feedback[0].category %></td>
    <td><%= results.feedback[0].date %></td>
    <td><%= results.feedback[0].status %></td>
</tr>