
<tr>
    <td><%= results.property_fk %></td>    
    <td><%= results.user_id_fk %></td>
    <td><%= results.title %></td>
    <td><%= results.category %></td>
    <td><%= results.date %></td>
    <td><%= results.status %></td>
    <td><a href="<%= '/landlord-view-feedback/' + results.feedback_id %>">View</a></td>
        
</tr>
