
<tr>
    <td><%= results.property_fk %></td>    
    <td><%= username %></td>
    <td><%= results.title %></td>
    <td><%= results.category %></td>
    <td><%= results.date %></td>
    <td><%= results.status %></td>
    <td>
        <button onclick="window.location.href='<%= '/tenant-view-feedback/' + results.feedback_id %>'" class="btn btn-success">View</button>
    </td>
        
</tr>
